# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Binary assets: never EOL-normalize or attempt a textual diff.
# Image formats
*.bmp binary
*.dds binary
*.exr binary
*.hdr binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
*.tga binary
*.webp binary

# Audio and Video formats
*.mp3 binary
*.wav binary
*.ogg binary
*.ogx binary
*.ogv binary

# Fonts
*.otf binary
*.ttf binary

# 3D formats
*.blend binary
*.blend1 binary
*.dae binary
*.fbx binary
*.glb binary
*.gltf binary
*.obj binary

# Build
*.dll binary
*.dylib binary
*.so binary

# Packaging
*.7z binary
*.gz binary
*.rar binary
*.tar binary
*.zip binary
